@import "_variables.scss";

.fragment {
  padding-top: 3rem;
  padding-bottom: 3rem;

  animation: fade-in ease-in 1;
  animation-fill-mode: forwards;

  animation-duration: 1s;
  animation-delay: $typewriter-duration;
}

.fragment h2 {
  font-family: 'Comfortaa', sans-serif;
}

.cssanimations .fragment {
  opacity: 0;
}

.page-content {
  padding-top: 1rem;
}

.page-content h2, h3 {
  padding-top: .5rem;
}

.svg-bigimage svg {
  width: 100%;
  height: 25vh;
  fill: #f0f0f0;

  /*& path {
    fill: #f0f0f0;
  }*/
}

figure {

  margin: 5px;
  padding: 1rem;

  & img {
    @extend .img-fluid;
    border: 1px solid $gray-lighter;
    box-shadow: 1px 1px 2px $gray-lighter;
    border-radius: 3px;
  }

  & figcaption:not(:empty) {
    margin-top: .5rem;
    padding-top: .5rem;
    text-align: center;
    font-style: italic;

    h4 {
      font-size: $font-size-h6;
    }

    p {
      margin-bottom: 0;
    }
  }
}
