@import "_variables.scss";

.fragment {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@include media-breakpoint-up(md) {
  .fragment {
    animation: fade-in ease-in 1;
    animation-fill-mode: forwards;

    animation-duration: 1s;
    animation-delay: $typewriter-duration;
  }

  .cssanimations .fragment {
    opacity: 0;
  }
}

.fragment h2 {
  font-family: 'Comfortaa', sans-serif;
}

.page-content {
  padding-top: 1rem;
}

.page-content h2, h3 {
  padding-top: .5rem;
}

pre {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  padding: .5rem;
}

.article-preview {
  margin: 1rem 0;
  border: 1px solid $gray-lighter;
  box-shadow: 1px 1px 2px $gray-lighter;

  & .summary {
    padding: 1rem;
  }

  & .read-more-link {
    padding: .5rem 1rem;
    text-align: right;
    background-color: darken(#fff, 3%);
  }
}

.article-image {
  width: 100%;
  background-size: cover;
  background-color: $footer-bg;
  min-height: 300px;
}

.small-preview .article-image {
  min-height: 200px;
}

.article-info {
  background: $gray-light;
  padding: 1rem;

  a {
    color: #fff;
  }

  .small-infos {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  h3 {
    padding-top: 0;
  }
}

.svg-bigimage svg {
  width: 100%;
  height: 25vh;
  fill: #f0f0f0;

  /*& path {
    fill: #f0f0f0;
  }*/
}

figure {

  margin: 5px;
  padding: 1rem;

  & img {
    @extend .img-fluid;
    border: 1px solid $gray-lighter;
    box-shadow: 1px 1px 2px $gray-lighter;
    border-radius: 3px;
  }

  & figcaption:not(:empty) {
    margin-top: .5rem;
    padding-top: .5rem;
    text-align: center;
    font-style: italic;

    h4 {
      font-size: $font-size-h6;
    }

    p {
      margin-bottom: 0;
    }
  }
}
