$yellow: #BBA734;
$orange: #B95A37;

$typewriter-duration: 2.5s;
$typewriter-steps: 30;
$typewriter-cursor: #64C756;

$footer-bg: #3c6ac7;
//$footer-text: #caddf2;
$footer-text: lighten($footer-bg, 35%);
