<footer>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p>David Bohn <br>Hillmannstr. 23b <br>13467 Berlin</p>
                <p>contact@dbohn.de</p>
                <p>&copy; 2017, David Bohn</p>
            </div>
            <div class="col-md">
                <h5>Find me on</h5>
                <ul>
                    <li>GitHub</li>
                    <li>Twitter</li>
                    <li>Xing</li>
                </ul>
            </div>
            <div class="col-md">C</div>
        </div>
    </div>
</footer>
</body>
</html>
